aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #000000;
    font-style: italic;
    font-family: "OCR A Std", serif;
    color: #000000;
}

aside > p {
    margin: 0.5rem;
}

#introduction > h2 {
    word-spacing: 1px;
}

ul.advantages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    flex-grow: 4;
}

ul.advantages > li {
    padding: 1rem;
    margin: 1rem;
    background: #EEA6AA;
    list-style-type: none;
}

@media (max-width: 768px) or (orientation: portrait) {
    ul.advantages>li#women {
        display: none;
    }
}

.types {
    background: #EED7AA;
    padding: 0.7rem;
    margin-bottom: 1rem;
}

.types > h4 {
    font-weight: bolder;
    font-size: larger;
    margin-bottom: 0;
    text-decoration: underline;
}

img.logo {
    filter: drop-shadow(4px 4px);
}

#ukupnik {
    filter: drop-shadow(3px 3px);
}

h1 > i {
    color: purple;
    -webkit-text-stroke: 1px #000000;
    margin-left: 0.35em;
}

body {
    background: palegoldenrod;
}

nav.menu {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    display: inline;
    padding-left: 0;
}

ul.menu > li {
    display:inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font: italic bold 1em "Fira Sans", sans-serif;
    padding-left: 3em;
}

.crumb a::after {
    display: inline-block;
    color: #000;
    content: 'â€';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

body > p {
    font-family: "arial", serif;
}

code > pre {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding: 0.5rem;
}

footer > div {
    background: #f5d28c;
}

footer > div > p {
    text-align: right;
    padding-right: 1rem;
}

div#main_info img {
    filter: drop-shadow(4px 4px);
    height: 250px;
    margin-bottom: 25px;
}

section {
    display: flex;
    flex-shrink: 1;
    flex-wrap: wrap;
}
section>article {
    max-width: 15rem;
    min-width: 6rem;
    padding: 1rem;
    margin: 1rem;
}

.advantages_vertical {
    display: flex;
    flex-direction: column;
}